# Binaries
termfolio
*.exe
*.exe~
*.dll
*.so
*.dylib

# Debug files
__debug_bin*

# Test binary
*.test

# Output of go coverage
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo

# SSH host keys
.ssh/

# OS
.DS_Store
